/**styling logo image*/
.logo{
    height: 20%;
    width: 30%;
    float: left;
    top:500px;
    left: 0;
    right:0;
    bottom: 0;
    padding: 10;
    position: fixed;
    object-fit: cover;

}