/* Overall container styles */
/* Card container */


/* Card style */
.total-users-card {
  /* Add your unique styles here */
  background-color: clear;
  color: #333;
  /* Add any other styles you want */
}


/* Title styles */
.title {
  font-size: 24px;
  margin-bottom: 20px;
}
/* Card style */
.card {
  background-color: clear;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: calc(33.33% - 20px); /* Adjust width as needed for 3 cards per row */
}


/* Statistics box styles */
.statistics-box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.statistics-item {
  flex: 1;
  text-align: center;
  padding: 20px;
  background-color: clear;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.statistics-item h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.statistics-item p {
  font-size: 16px;
}

/* Table container styles */
.table-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Table styles */
.table {
  width: 45%; /* Adjust as needed */
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.table th {
  background-color: clear;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  
  .table {
    width: 100%;
  }
}
