/* Statistics box styles */
.statistics-box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

/* Add this CSS to your stylesheet */
.statistics-box {
  display:inline-flex;
  justify-content: space-between;
}

.card.statistics-item {
  flex: 1;
  margin-right: 10px; /* Adjust as needed */
}

.card.statistics-item:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

/* Table container styles */
.table-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Table styles */
.table {
  width: 45%; /* Adjust as needed */
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.table th {
  background-color: clear;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  
  .table {
    width: 100%;
  }
}
/* Dashboard.css */
.statistic-box {
  position: relative;
}

.animated-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff5722; /* Adjust color as needed */
  animation: pulse 2s infinite alternate; /* Adjust animation properties */
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}
